/* Tailwind CSS  */
:root {
  --font-inter: "Poppins", sans-serif;
}

.font-first {
  font-family: var(--font-inter);
  font-weight: 500;
  font-style: normal;
}

.font-secondary {
  font-family: var(--font-inter);
  font-weight: 300;
  font-style: light;
}
